<% include header %>


  <div class='container'>
        <h2>December</h2>
            <div class="row text-center"> 
                <div class='col-xs-6'>
                    <a href='/october' class="btn btn-primary btn-lg">Október</a>
                </div>    
                <div class='col-xs-6'>
                    <a href='/november' class="btn btn-primary btn-lg">November</a>
                </div>
            </div>
        <br>
        <iframe align="middle" src="http://163.172.184.203/app/kibana#/visualize/edit/b6d11f80-43ff-11e8-b08e-b90851a8fd6e?embed=true&_g=()" height=700 width=1000></iframe>
        <br>
        <br>
        <iframe align="middle" src="http://163.172.184.203/app/kibana#/visualize/edit/93ad0cf0-4542-11e8-b08e-b90851a8fd6e?embed=true&_g=()" height=700 width=1000></iframe>
    </div>




<% include footer %>
